---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Calculators from "@/components/Calculators.astro";
---

<Layout
  title="EconoTools | Tu centro de herramientas financieras y económicas"
  description="Descubre EconoTools, tu fuente confiable de calculadoras financieras, tasas de cambio actualizadas, datos económicos clave y artículos de blog informativos para ayudarte a optimizar tus decisiones financieras y ganar dinero. ¡Explora nuestras herramientas ahora!"
  keywords="Herramientas financieras, Calculadoras financieras, Tasas de cambio actualizadas, Datos económicos en tiempo real, Blog financiero, Educación financiera, Inversiones rentables, Mercado de valores, Administración del dinero, Consejos para ahorrar dinero, Ganar dinero"
>
  <Hero img="/images/hero-image.webp">
    <h1 class="text-balance text-4xl font-black tracking-tight lg:text-5xl">
      Bienvenido a EconoTools
    </h1>
    <p class="text-pretty text-base">
      Tu centro de herramientas financieras. Explora nuestras calculadoras,
      guías y mucho más.
    </p>
  </Hero>

  <amp-ad
    width="100vw"
    height="320"
    type="adsense"
    data-ad-client="ca-pub-3353615685757547"
    data-ad-slot="5178927998"
    data-auto-format="rspv"
    data-full-width=""
  >
    <div overflow=""></div>
  </amp-ad>

  <Calculators>
    <h2 class="text-balance text-3xl font-black tracking-tight lg:text-4xl">
      Nuestras Calculadoras
    </h2>
  </Calculators>
</Layout>
