---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Bienvenido a EconoTools">
  <Hero>
    <h1 class="text-balance text-4xl font-bold tracking-tighter lg:text-5xl">
      Bienvenido a EconoTools
    </h1>
    <p class="text-pretty text-base">
      Tu centro de herramientas financieras. Explora nuestras calculadoras,
      guías y mucho más.
    </p>
  </Hero>
</Layout>
