---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Bienvenido a EconoTools">
  <Hero>
    <h1 class="text-4xl lg:text-5xl font-bold tracking-tighter text-balance">
      Bienvenido a EconoTools
    </h1>
    <p class="text-base text-pretty">
      Tu centro de herramientas financieras. Explora nuestras calculadoras,
      guías y mucho más.
    </p>
  </Hero>
</Layout>
