<section
  class="flex w-full flex-col items-center justify-center border-b border-alert border-opacity-50 bg-alert bg-opacity-30 p-2 font-semibold text-alert"
>
  ¡Atención! Este sitio web está en desarrollo activo. Algunas funciones podrían
  no estar disponibles temporalmente.
</section>
