---
import CalculatorItem from "../components/CalculatorItem.astro";

const CALCULATORS = [
  {
    title: "Cuotas e Intereses Tarjeta de Crédito",
    img: "./images/calculators/credit-card.svg",
    link: "./calculators/credit-card",
    disabled: false,
  },
  {
    title: "Crecimiento de Ahorro",
    img: "./images/calculators/savings.svg",
    link: "#",
    disabled: true,
  },
  {
    title: "GMF - $4 X $1000",
    img: "./images/calculators/gmf.svg",
    link: "#",
    disabled: true,
  },
  {
    title: "Presupuesto Personal",
    img: "./images/calculators/budget.svg",
    link: "#",
    disabled: true,
  },
  {
    title: "Retorno de Inversión",
    img: "./images/calculators/investment-return.svg",
    link: "#",
    disabled: true,
  },
];
---

<section class="w-full p-4 py-10 lg:w-[960px]">
  <slot />
  <div
    class="grid grid-cols-2 gap-x-3 gap-y-6 pt-10 md:grid-cols-3 lg:grid-cols-5"
  >
    {CALCULATORS.map((calculator) => <CalculatorItem {...calculator} />)}
  </div>
</section>
