<section class="flex w-full lg:w-[960px]">
  <footer
    class="m-3 flex min-h-16 w-full flex-col items-center gap-2 rounded-xl border border-b bg-primary p-4 lg:mx-0"
  >
    <div class="mb-2 flex w-full flex-col border-b pb-4 lg:grid lg:grid-cols-2">
      <div class="flex items-center justify-center lg:justify-start">
        <img src="/logo.svg" alt="EconoTools Logo" />
      </div>
      <div class="flex flex-col justify-center">
        <ul
          class="flex w-full flex-row flex-wrap items-center justify-around text-sm font-medium lg:items-end lg:gap-8"
        >
          <a href="#">Anunciate</a>
          <a href="#">Nosotros</a>
          <a href="#">Politica de Privacidad</a>
          <a href="#">Contacto</a>
        </ul>
      </div>
    </div>
    <div
      class="flex w-full flex-col items-center lg:flex-row lg:justify-between"
    >
      <span class="text-sm font-light">Copyright © 2024 EconoTools</span>
      <span class="text-sm font-light">
        Developed by <a
          href="https://andreslopezco.vercel.app"
          target="_blank"
          class="font-medium">Andres Lopez</a
        >
      </span>
    </div>
  </footer>
</section>
