<section class="w-full p-4 lg:w-[960px]">
  <article
    class="flex min-h-[480px] flex-col justify-end gap-y-2 rounded-xl bg-[url('./images/hero-image.jpeg')] bg-cover bg-center p-10 text-primary"
  >
    <slot />
  </article>
</section>
