<section class="lg:w-[960px] p-4">
  <article
    class="flex flex-col min-h-[480px] text-primary justify-end gap-y-2 p-10 bg-[url('./images/hero-image.jpeg')] bg-center bg-cover rounded-xl"
  >
    <slot />
  </article>
</section>
