---
import MenuIcon from "@/icons/MenuIcon.astro";
---

<section class="mb-5 flex w-full flex-row justify-center border-b">
  <div
    class="flex h-16 w-full flex-row items-center justify-between px-4 lg:w-[1280px] lg:px-10"
  >
    <a href="https://econotools.vercel.app/">
      <img src="/logo.svg" alt="EconoTools Logo" />
    </a>
    <nav class="flex flex-row gap-8">
      <MenuIcon class="lg:hidden" />
      <ul class="hidden flex-row gap-8 text-base font-medium lg:flex">
        <a href="#">Calculadoras</a>
        <a href="#">Guías</a>
      </ul>
    </nav>
  </div>
</section>
