<section class="flex flex-row justify-center w-full border-b mb-5">
  <div
    class="flex flex-row justify-between items-center lg:w-[1280px] h-16 px-10"
  >
    <img src="./logo.svg" alt="EconoTools Logo" />
    <nav class="flex flex-row gap-8">
      <ul class="flex flex-row gap-8 text-base font-medium">
        <li>Calculadoras</li>
        <li>Guías</li>
        <li>Rates</li>
        <li>Reviews</li>
      </ul>
    </nav>
  </div>
</section>
