---
import "@fontsource-variable/work-sans";
import { ViewTransitions } from "astro:transitions";

import Alert from "@/components/Alert.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3353615685757547"
      crossorigin="anonymous"></script>
    <script
      async
      custom-element="amp-ad"
      src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  </head>
  <body>
    <main class="flex flex-col items-center">
      <Alert />
      <NavBar />
      <slot />
      <Footer />
    </main>
  </body><style is:global>
    html {
      font-family: "Work Sans Variable", system-ui, sans-serif;
    }
  </style>
</html>
